# CODEOWNERS Best Practices

# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."

# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

* @smartcontractkit/foundations

/pkg/beholder/ @smartcontractkit/realtime
/pkg/capabilities/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/codec/ @smartcontractkit/bix-framework @smartcontractkit/foundations
/pkg/loop/cmd/loopinstall @smartcontractkit/devex-cicd
/pkg/types/ccip @smartcontractkit/ccip-offchain
/pkg/types/ccipocr3 @smartcontractkit/ccip-offchain
/pkg/values/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/workflows/ @smartcontractkit/keystone
/pkg/beholder/ @smartcontractkit/data-tooling
/pkg/types/ccipocr3 @smartcontractkit/ccip-offchain
/pkg/types/ccip @smartcontractkit/ccip-offchain
