{{define "trigger_method"}}
func (c {{.Service.GoName}}) {{.Method.GoName}}(config *{{.InputType}}) sdk.{{.Mode}}Trigger[*{{.OutputType}}] {
    configAny, _ := anypb.New(config)
    return &{{.Service.GoName | LowerFirst}}{{.Method.GoName}} {
        config: configAny,
    }
}

type {{.Service.GoName | LowerFirst}}{{.Method.GoName}} struct {
    config *anypb.Any
}

func (*{{.Service.GoName | LowerFirst}}{{.Method.GoName}}) Is{{.Mode}}Trigger() {}
func (*{{.Service.GoName | LowerFirst}}{{.Method.GoName}}) NewT() *{{.OutputType}} {
    return &{{.OutputType}}{}
}

func (*{{.Service.GoName | LowerFirst}}{{.Method.GoName}}) Id() string {
    return "{{.CapabilityId}}"
}

func (t *{{.Service.GoName | LowerFirst}}{{.Method.GoName}}) ConfigAsAny() *anypb.Any {
    return t.config
}
{{end}}
