package server

import (
    "fmt"
    "context"
    "time"

    "google.golang.org/protobuf/types/known/emptypb"

    {{- range .Services }}
        {{- range .Methods }}
            {{- addImport .Input.GoIdent.GoImportPath "" }}
            {{- addImport .Output.GoIdent.GoImportPath "" }}
        {{- end }}
    {{- end }}

    {{- range allimports }}
    {{.}}
    {{- end }}

    "github.com/smartcontractkit/chainlink-common/pkg/types/core"
    "github.com/smartcontractkit/chainlink-common/pkg/capabilities"
    caperrors "github.com/smartcontractkit/chainlink-common/pkg/capabilities/errors"
    "github.com/smartcontractkit/chainlink-common/pkg/loop"
)

// Avoid unused imports if there is configuration type
var _ = emptypb.Empty{}

{{- range .Services}}
{{ $hasTriggers := false }}
{{ $hasActions := false }}
{{ $service := . }}
{{ $fullCapabilityId := FullCapabilityId .}}
type {{.GoName}}Capability interface {
    {{- range .Methods}}
        {{- if isTrigger . }}
            {{ $hasTriggers = true }}
    Register{{.GoName}}(ctx context.Context, triggerID string, metadata capabilities.RequestMetadata, input *{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}) (<- chan capabilities.TriggerAndId[*{{ImportAlias .Output.GoIdent.GoImportPath}}.{{.Output.GoIdent.GoName}}], caperrors.Error)
    Unregister{{.GoName}}(ctx context.Context, triggerID string, metadata capabilities.RequestMetadata, input *{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}) caperrors.Error
        {{- else }}
            {{ $hasActions = true }}
    {{.GoName}}(ctx context.Context, metadata capabilities.RequestMetadata, input *{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}} {{if ne "emptypb.Empty" (ConfigType $service)}}, {{(ConfigType $service)}}{{ end }}) (*capabilities.ResponseAndMetadata[*{{ImportAlias .Output.GoIdent.GoImportPath}}.{{.Output.GoIdent.GoName}}], caperrors.Error)
        {{- end }}
    {{- end }}

    {{ range Labels . }}
        {{.Name}}() {{.Type}}
    {{ end }}

    Start(ctx context.Context) error
    Close() error
    HealthReport() map[string]error
    Name() string
    Description() string
    Ready() error
    Initialise(ctx context.Context, dependencies core.StandardCapabilitiesDependencies) error
}

func New{{.GoName}}Server(capability {{.GoName}}Capability) *{{.GoName}}Server {
    stopCh := make(chan struct{})
    return &{{.GoName}}Server{
        {{.GoName|LowerFirst}}Capability:   {{.GoName|LowerFirst}}Capability{ {{.GoName}}Capability: capability, stopCh: stopCh},
        stopCh: stopCh,
    }
}

type {{.GoName}}Server struct {
    {{.GoName|LowerFirst}}Capability
    capabilityRegistry core.CapabilitiesRegistry
    stopCh chan struct{}
}


func (c *{{.GoName}}Server) Initialise(ctx context.Context, dependencies core.StandardCapabilitiesDependencies) error {
    if err := c.{{.GoName}}Capability.Initialise(ctx, dependencies); err != nil {
        return fmt.Errorf("error when initializing capability: %w", err)
    }

    c.capabilityRegistry = dependencies.CapabilityRegistry

	if err := dependencies.CapabilityRegistry.Add(ctx, &{{.GoName|LowerFirst}}Capability{
	    {{.GoName}}Capability: c.{{.GoName}}Capability,
	}); err != nil {
		return fmt.Errorf("error when adding %s to the registry: %w", {{$fullCapabilityId}}, err)
	}

	return nil
}

func (c *{{.GoName}}Server) Close() error{
    ctx, cancel := context.WithTimeout(context.Background(), time.Second)
	defer cancel()

    if c.capabilityRegistry != nil {
        if err := c.capabilityRegistry.Remove(ctx, {{$fullCapabilityId}}); err != nil {
            return err
        }
    }

    if c.stopCh != nil {
        close(c.stopCh)
    }

	return c.{{.GoName|LowerFirst}}Capability.Close()
}


func (c *{{.GoName}}Server) Infos(ctx context.Context) ([]capabilities.CapabilityInfo, error) {
    info, err := c.{{.GoName|LowerFirst}}Capability.Info(ctx)
    if err != nil {
        return nil, err
    }
    return []capabilities.CapabilityInfo{info}, nil
}

type {{.GoName|LowerFirst}}Capability struct {
    {{.GoName}}Capability
    stopCh chan struct{}
}

func (c *{{.GoName|LowerFirst}}Capability) Info(ctx context.Context) (capabilities.CapabilityInfo, error) {
    // Maybe we do need to split it out, even if the user doesn't see it
	return capabilities.NewCapabilityInfo({{$fullCapabilityId}}, capabilities.CapabilityTypeCombined, c.{{.GoName}}Capability.Description())
}


var _ capabilities.ExecutableAndTriggerCapability = (*{{.GoName|LowerFirst}}Capability)(nil)

const {{.GoName}}ID = "{{CapabilityId $service}}"

func (c *{{.GoName|LowerFirst}}Capability) RegisterTrigger(ctx context.Context, request capabilities.TriggerRegistrationRequest) (<-chan capabilities.TriggerResponse, error) {
{{- if $hasTriggers }}
    switch request.Method {
        {{- range .Methods}}
        {{- if (isTrigger .) }}
            case {{- if (MapToUntypedAPI .) }} "" {{- else}} "{{.GoName}}" {{- end }}:
                input := &{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}{}
                return capabilities.RegisterTrigger(ctx, c.stopCh, {{$fullCapabilityId}}, request, input, c.{{$service.GoName}}Capability.Register{{.GoName}})
        {{- end }}
        {{- end }}
        	default:
        	    return nil, fmt.Errorf("trigger %s not found", request.Method)
        }
{{- else }}
    return nil, fmt.Errorf("trigger %s not found", request.Method)
{{- end }}
}

func (c *{{.GoName|LowerFirst}}Capability) UnregisterTrigger(ctx context.Context, request capabilities.TriggerRegistrationRequest) error {
{{- if $hasTriggers	  }}
	    switch request.Method {
            {{- range .Methods}}
            {{- if (isTrigger .) }}
                case {{- if (MapToUntypedAPI .) }} "" {{- else}} "{{.GoName}}" {{- end }}:
                    input := &{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}{}
                    _, err := capabilities.FromValueOrAny(request.Config, request.Payload, input)
                    if err != nil {
                        return err
                    }
                    return c.{{$service.GoName}}Capability.Unregister{{.GoName}}(ctx, request.TriggerID, request.Metadata, input)
            {{- end }}
            {{- end }}
            	default:
            	    return fmt.Errorf("method %s not found", request.Method)
            }
{{- else }}
    return fmt.Errorf("trigger %s not found", request.Method)
{{- end }}
}

func (c *{{.GoName|LowerFirst}}Capability) RegisterToWorkflow(ctx context.Context, request capabilities.RegisterToWorkflowRequest) error {
	return nil
}

func (c *{{.GoName|LowerFirst}}Capability) UnregisterFromWorkflow(ctx context.Context, request capabilities.UnregisterFromWorkflowRequest) error {
	return nil
}

func (c *{{.GoName|LowerFirst}}Capability) Execute(ctx context.Context, request capabilities.CapabilityRequest) (capabilities.CapabilityResponse, error) {
{{- if $hasActions }}
    response := capabilities.CapabilityResponse{}
	switch request.Method {
    {{- range .Methods}}
    {{- if  not (isTrigger .) }}
        case "{{.GoName}}":
            input := &{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}{}
            config := &{{ConfigType $service}}{}
            {{- if eq "emptypb.Empty" (ConfigType $service) }}
            wrapped := func(ctx context.Context, metadata capabilities.RequestMetadata, input *{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}, _ *emptypb.Empty) (*{{ImportAlias .Output.GoIdent.GoImportPath}}.{{.Output.GoIdent.GoName}}, capabilities.ResponseMetadata, error) {
                output, err := c.{{$service.GoName}}Capability.{{.GoName}}(ctx, metadata, input)
                if err != nil {
                    return nil, capabilities.ResponseMetadata{}, err
                }
                if output == nil {
                    return nil, capabilities.ResponseMetadata{}, fmt.Errorf("output and error is nil for method {{.GoName}}(..) (if output is nil error must be present)")
                }
                return output.Response, output.ResponseMetadata, err
            }
            return capabilities.Execute(ctx, request, input, config, wrapped)
            {{- else }}
            return capabilities.Execute(ctx, request, input, config, c.{{.GoName}}Capability.{{.GoName}})
            {{- end }}
          {{- if (MapToUntypedAPI .) }}
         case "":
             input := &{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}{}
             config := &{{ConfigType $service}}{}
             {{- if eq "emptypb.Empty" (ConfigType $service) }}
             wrapped := func(ctx context.Context, metadata capabilities.RequestMetadata, input *{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}, _ *emptypb.Empty) (*{{ImportAlias .Output.GoIdent.GoImportPath}}.{{.Output.GoIdent.GoName}}, capabilities.ResponseMetadata, error) {
                 output, err := c.{{$service.GoName}}Capability.{{.GoName}}(ctx, metadata, input)
                 if err != nil {
                    return nil, capabilities.ResponseMetadata{}, err
                 }
                 if output == nil {
                     return nil, capabilities.ResponseMetadata{}, fmt.Errorf("output and error is nil for method {{.GoName}}(..) (if output is nil error must be present)")
                 }
                 return output.Response, output.ResponseMetadata, err
             }
             return capabilities.Execute(ctx, request, input, config, wrapped)
             {{- else }}
             return capabilities.Execute(ctx, request, input, config, c.{{.GoName}}Capability.{{.GoName}})
             {{- end }}
          {{- end }}
    {{- end }}
    {{- end }}
    	default:
    	    return response, fmt.Errorf("method %s not found", request.Method)
    }
{{- else }}
    return capabilities.CapabilityResponse{}, fmt.Errorf("method %s not found", request.Method)
{{- end }}
}

{{- end }}